.keuze {
  font-size:36px;
  color:#2FCF56;
}

.teller {
      width: 50px;
      height: 50px;
      background: #fff;
      border-radius: 50%;
      border: solid 3px #2FCF56;
      color:#2FCF56;
      font-size: 36px;
      line-height: 1;
      text-align: center;
      padding-left: 5px;
}
.grey {
      background-color: #EDEDED;
      padding-top:112px;
}
.actionBtn {
  margin-bottom: 20px;


}
.actionBtn .col {
  height: auto;
  background: transparent;
  border: none;
}
