@font-face {
  font-family: MathleteFont;
  src: url(./font/mathlete_bulky.otf);
}
.App {
  text-align: center;
}

body {
  background-color: #2FCF56;
  font-family:'MathleteFont';
  color:#fff;
}
.actionBtn {
  margin-bottom: 20px;
}
.title {
  font-size:48px;
}
.title a {
  color: #fff;
}
.titleSmall {
  font-size:24px;
  margin-top:30px;
}
.titleSmall a {
  color:#fff;
}
.labelUsername {
  font-size:36px;
  margin-top:70px;
}
.life {
  z-index: 100;
  margin-top:5px;
}
.placeHolder {
  background-color: #fff;
  min-height: 157.5px;
  margin: auto;
}
.placeHolder .overlay {
  position: absolute;
  z-index: 200;
  margin: 10px;
}
.resultaatLbl {
  font-size: 36px;
  padding-top: 40px;
  margin-bottom: 20px;
}
.resultaatLbl span {
  font-size: 48px;

}

.spelen {
  font-size:48px;
  background-color: #2FCF56;
  padding: 0 124px;
  border-radius:28px;
  display:inline-block;
  cursor:pointer;
  text-shadow:0px 1px 0px #2f6627;
  margin: 30px auto;
  color:#fff;
}
.spelen:hover {
  background-color:#5cbf2a;
}
.spelen:active {
	position:relative;
	top:1px;
}
.userLabel,.contestantLabel {
  position: static;
  bottom: 0;
  font-size: 1.5em;
  padding-top:20px;
  text-align: center;
}
.contestantLabel {
  padding-left: 5px;
}
.text-right {
  padding-right: 0;
}

.vs {
  font-size: 36px;
  display: contents;
}
.cpu {
    padding-left: 0;
}
.grey {
  background-color: #EDEDED;
}
#userName {
  margin: 30px 0;
  width: 100%;
  min-height: 60px;
  font-family: Arial, serif;
  font-size: 1.5em;
  padding: 10px;
  text-align: center;

}
.bottom {
  position: absolute;
  bottom: 0;

}
.bottomHome {
  position: absolute;
  bottom: 0;
  padding-top: 0;
}
.images {
  margin-top:70px;
}
.images img:first-child {
  margin-right: 15px;
}
.images img:last-child {
  margin-left: 30px;
}
.keuze {
  font-size:36px;
  color:#2FCF56;
}

.teller {
      width: 50px;
      height: 50px;
      background: #fff;
      border-radius: 50%;
      border: solid 3px #2FCF56;
      color:#2FCF56;
      font-size: 36px;
      line-height: 1;
      text-align: center;
      padding-left: 5px;
    }
.reaction {
  transform-origin: center;
  animation: scale 500ms ease-in-out forwards;
}
.error {
  color: #f54242;
  font-size: 24px;
}
@keyframes scale {
      from { transform: scale(0.0);}
      to { transform: scale(1.1);}
}

/* transition */
.fade-enter .btn {
  opacity: 0;
  transform: translateX(-100%);
}
.fade-enter-active .btn {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit .btn {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit-active .btn {
  opacity: 0;
  transform: translateX(100%);
}
.fade-enter-active .btn,
.fade-exit-active .btn {
  transition: opacity 500ms, transform 500ms;
}
@media (min-width: 768px)  {
  .container {
    width: 414px;
  }
  .bottomHome {
    left:0;
  }
  .bottom {
    left:0;
  }
  .actionBtn {
    width: 414px;
    margin:0 auto 50px auto;
  }
  .user {
    margin: 0 auto;
  }
  #userName {
    width: 25%;
  }

}
